<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="/css/indexstyle.css" type="text/css" rel="stylesheet">
</head>
<body onload="onLoad()">

<ul class="navbar">
    <li class="active home"><a href="index.htm">Etusivu</a></li>
    <li><a href="login.html">Kirjatuminen</a></li>
    <li><a href="register.html">Rekisteröinti</a></li>
    <div id="hakukentta">
        <input type="text" id="movie_name" placeholder="Elokuvan nimi:" name="movie_name">
        <input type="number" min="1888" max="2021" step="1" id="movie_year" placeholder="Vuosi (valinnainen):" name="movie_year">
        <button onclick="getMovies()">Hae</button>
    </div>
</ul>

<div class="spacediv"></div>

<div id="welcome">

</div>

<div id="toprow">
    <h1 class="centerText">Ylläpidon hotit!</h1>
    <div id="recommended"></div>
</div>

<div>
    <div id="resultField"></div>
</div>

<script src="/js/indexjs.js"></script>
<script src="/js/jquery-3.6.0.min.js"></script>

</body>
</html>