<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="/css/logreg.css" type="text/css" rel="stylesheet">
</head>
<body>
<ul class="navbar">
    <li><a href="index.htm">Etusivu</a></li>
    <li><a href="credits.html">Tekijät</a></li>
    <li class="active"><a href="login.html">Kirjatuminen</a></li>
    <li><a href="register.html">Rekisteröinti</a></li>
</ul>
<div id="logregdiv">
    <form id="logform">
        <label class="labeli" for="email">Sähköposti:</label><br>
        <input class="input" type="email" id="email" name="email"><br>
        <label class="labeli" for="password">Salasana:</label><br>
        <input class="input" type="password" min="4" id="password" name="password"><br><br>
        <input value="Kirjaudu sisään" type="submit"></input>
    </form>
</div>
<script src="/js/jquery-3.6.0.min.js"></script>
<script src="/js/login.js"></script>

</body>
</html>