<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="/css/main.css" rel="stylesheet" type="text/css">
    <link href="/css/movie.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="/css/indexstyle.css" rel="stylesheet" type="text/css">
</head>
<body onload="onLoad()">

<ul class="navbar">
    <li><a href="index.htm">Etusivu</a></li>
    <li><a href="credits.html">Tekijät</a></li>
    <li><a href="login.html">Kirjatuminen</a></li>
    <li><a href="register.html">Rekisteröinti</a></li>
    <div id="hakukentta">
        <input type="text" id="movie_name" placeholder="Elokuvan nimi:" name="movie_name">
        <input type="number" min="0" id="movie_year" placeholder="Vuosi (valinnainen):" name="movie_year">
        <button onclick="getMovies()">Hae</button>
    </div>
</ul>

<div>
    <div id="movieColumn">
        <div id="intro">
            <div>
                <div>
                    <h1 id="title"></h1>
                    <h3 style="text-align: center; color: silver;">LeffaVinkki rating</h3>
                    <div id="starReview">
                        <span id="star1" class="fa fa-star checked"></span>
                        <span id="star2" class="fa fa-star checked"></span>
                        <span id="star3" class="fa fa-star checked"></span>
                        <span id="star4" class="fa fa-star"></span>
                        <span id="star5" class="fa fa-star"></span>
                        <p id="reviewCount" style="display: inline; color: silver;"></p>
                    </div>
                    <p id="length"></p>
                    <p id="genre"></p>
                </div>
            </div>
            <div>
                <img id="poster">
            </div>
        </div>

        <div id="info">
            <p id="plot"></p>
            <div width="100%"><h4 class="headingwithp">Tähdet: </h4><p id="actors" class="headingwithp"></p></div>
            <h3 id="ratingIMDB"></h3>

            <h3 class="headingwithp">Ohjaaja: </h3><p id="director" class="headingwithp"></p>
            <br>
            <h3 class="headingwithp">Kirjoittajat: </h3><p id="writers" class="headingwithp"></p>
            <br>

            <h4 class="headingwithp">Metascore: </h4><h4 id="metascore" class="headingwithp"></h4>
        </div>
        <div id="commentsection">
            <h2>Arvostele</h2>
            <div id="giveReview">
                <span id="starR1" class="fa fa-star"></span>
                <span id="starR2" class="fa fa-star"></span>
                <span id="starR3" class="fa fa-star"></span>
                <span id="starR4" class="fa fa-star"></span>
                <span id="starR5" class="fa fa-star"></span>
            </div>
            <h3>Kirjoita kommentti</h3>
            <div class="comment">
                <form id="commentForm" action="/movies/addcomment" method="post">
                    <input type="text" placeholder="Otsikko" id="newHeading">
                    <input type="text" placeholder="Kommentti" id="newComment">
                    <br>
                    <input type="submit" value="Lähetä"/>
                </form>
            </div>

            <h2>Kommentit</h2>
            <div id="comments"></div>
        </div>
    </div>


</div>
<script src="/js/jquery-3.6.0.min.js"></script>
<script src="/js/movie.js"></script>
</body>
</html>