<ul class="navbar">
    <li class="active"><a href="index.htm">Etusivu</a></li>
    <li><a href="credits.html">Tekijät</a></li>
    <li><a href="login.html">Kirjatuminen</a></li>
    <li><a href="register.html">Rekisteröinti</a></li>
    <div id="hakukentta">
        <input type="text" id="movie_name" placeholder="Elokuvan nimi:" name="movie_name">
        <input type="number" min="0" id="movie_year" placeholder="Vuosi (valinnainen):" name="movie_year">
        <button onclick="getMovies()">Hae</button>
    </div>
</ul>