<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="/css/main.css" rel="stylesheet" type="text/css">
    <link href="/css/profile.css" rel="stylesheet" type="text/css">
    <link href="/css/indexstyle.css" rel="stylesheet" type="text/css">
    <link href="/css/footer.css" rel="stylesheet" type="text/css">
</head>
<body onload="showProfile()">

<ul class="navbar">
    <li class="home"><a href="index.htm">Etusivu</a></li>
    <li><a href="login.html">Kirjatuminen</a></li>
    <li><a href="register.html">Rekisteröinti</a></li>
</ul>

<div id="hakukentta">
    <form id="search">
        <div class="hakuwrapper">
            <div class="search-container">
                <input type="text" id="movie_name" placeholder="Elokuvan nimi:" name="movie_name" required>
                <input type="number" min="1888" max="2021" step="1" id="movie_year" placeholder="Vuosi (valinnainen):" name="movie_year">
                <button type="submit" class="button">Hae</button>
            </div>
        </div>
    </form>
</div>

<div id="top">
    <div id="profiiliteksit">
        <h1 id="name">Käyttäjätunnus</h1>
        <h3 id="title">LeffaVinkki status</h3>
        <h3 id="genres">Lempi genret (ei implementoitu)</h3>
    </div>
    <img id="profilePicture" src="img/profile.png">
</div>

<div id="middle">
    <div class="sideL">
        <h1/>
    </div>
    <div class="middle">

        <h2 class="silver" style="text-align: center">Minusta</h2>
        <h4 style="color:white;" id="description"></h4>

        <div id="editButton"></div>

        <h2 id="reviewsCount" class="reviewsCount">Kommentit</h2>
        <div id="reviews"><h1>täällä jotain</h1></div>

    </div>
    <div class="sideR">
        <div id="info">
            <h3>Status</h3>
            <h5 id="status">LeffaVinkki status</h5>
            <h3>Katsotuimmat genret</h3>
            <h5 id="mostViewed">Genret joita käyttäjä eniten arvostellut (ei implementoitu)</h5>
            <h3>Arvostelut</h3>
            <h5 id="reviewsC">Tehtyjen arvostelujen määrä</h5>
            <h3>Kommentit</h3>
            <h5 id="commentCount" class="reviewsCount">Kommenttien lukumäärä</h5>
        </div>
    </div>

</div>

</body>

<script src="/js/jquery-3.6.0.min.js"></script>
<script src="/js/profile.js"></script>

</html>