<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="/css/logreg.css" type="text/css" rel="stylesheet">
</head>
<body>
<ul class="navbar">
    <li><a href="index.htm">Etusivu</a></li>
    <li><a href="credits.html">Tekijät</a></li>
    <li><a href="login.html">Kirjatuminen</a></li>
    <li class="active"><a href="register.html">Rekisteröinti</a></li>
</ul>

<div id="logregdiv">
    <form id="regfrom">
        <label class="labeli" for="username">Käyttäjänimi:</label><br>
        <input class="input" type="text" id="username" name="username"><br>
        <label class="labeli" for="email">Sähköposti:</label><br>
        <input class="input" type="email" id="email" name="email"><br>
        <label class="labeli" for="password">Salasana:</label><br>
        <input class="input" type="text" min="4" id="password" name="password"><br><br>
        <input type="submit" value="Luo käyttäjä"/>
    </form>
</div>

<script src="/js/jquery-3.6.0.min.js"></script>
<script src="/js/register.js"></script>

</body>
</html>