<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="/css/logreg.css" type="text/css" rel="stylesheet">
    <link href="/css/indexstyle.css" rel="stylesheet" type="text/css">
</head>
<body>

<ul class="navbar">
    <li class="home"><a href="index.htm">Etusivu</a></li>
    <li><a href="login.html">Kirjatuminen</a></li>
    <li class="active"><a href="register.html">Rekisteröinti</a></li>
    <div id="hakukentta">
        <input type="text" id="movie_name" placeholder="Elokuvan nimi:" name="movie_name">
        <input type="number" min="1888" max="2021" step="1" id="movie_year" placeholder="Vuosi (valinnainen):" name="movie_year">
        <button onclick="getMovies()">Hae</button>
    </div>
</ul>

<div id="logregdiv">
    <form id="regfrom" align="center">
        <label for="username">Käyttäjänimi:</label><br>
        <input type="text" id="username" name="username" required><br>
        <label for="email">Sähköposti:</label><br>
        <input type="email" id="email" name="email" required><br>
        <label for="password">Salasana:</label><br>
        <input type="password" min="4" id="password" name="password" required><br><br>
        <input type="submit" value="Luo käyttäjä"/>
        <div id="errorMessage"/>
    </form>
</div>

<script src="/js/jquery-3.6.0.min.js"></script>
<script src="/js/register.js"></script>

</body>
</html>