.movieDiv {
    width: 200px;
    padding: 10px;
    transition: transform .2s; /* Animation */
    display: inline-block;
    -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 2s; /* Firefox < 16 */
    -ms-animation: fadein 2s; /* Internet Explorer */
    -o-animation: fadein 2s; /* Opera < 12.1 */
    animation: fadein 2s;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

.movieDiv:hover {
    transform: scale(1.1); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

.movieDiv,a{
    color: black;
}
.movieDiv:hover .poster{
    box-shadow: 5px 10px #888888;
}

.movieDiv h3{
    text-align: center;
    overflow-x:hidden;
    white-space: normal;
}

body {
    font-family: Arial, Verdana, sans-serif;
    background-color: #333333;
    background-image: linear-gradient(180deg,#333333,#999999);
    overflow: auto;
    margin: 0;
}

.poster {
    transition: box-shadow .3s;
    width: 200px;
    height: auto;
}

#resultField {
    left: 15%;
    right: 15%;
    top: 10%;
    margin-left: auto;
    margin-right: auto;
    max-width: 70%;
    padding: 0 24px 12px 36px;
    background-color: darkgrey;
    border: 4px solid black;
    border-radius: 4px;
}

#search {
    display: inline;
    float: left;
    font-size: large;
}

#hakukentta {
    position: fixed;
    display: list-item;
    float: left;
    right: 30%;
    top: 0%;
    left: 30%;
    border: 2px solid black;
    width: 600px;
    padding: 4px;
    margin: 2px auto;
    font-size: 16px;
    background-color: darkgrey;
    border-radius: 4px;
    z-index: 9999;
}

.hakuwrapper {
    margin: 6px 0;
}

.search-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-content: stretch;
    align-items: flex-start;
}

.button {
    padding: 13px 16px;
    margin-left: 96px;
    min-height: 36px;
    min-width: 100px;
    background: #000;
    color: #fff;
    border: 1px solid #fff;
    border-radius: 5px;
}

.button:hover {
    background-color: #333333;
}

#movie_name {
    min-width: 150px;
    padding: 10px 8px;
    margin: 0 4px 0 0;
    border: 1px solid #666;
    border-radius: 5px;
    height: 20px;
    order: 0;
    align-self: auto;
    flex: 2 1 auto;
}

#movie_year {
    min-width: 150px;
    padding: 10px 8px;
    margin: 0 4px 0 0;
    border: 1px solid #666;
    border-radius: 5px;
    height: 20px;
    order: 0;
    align-self: auto;
    flex: 1 1 auto;
}

.button {
    order: 4;
    flex: 0 1 auto;
    align-self: auto;
}

.navbar {
    background-color: black;
    position: fixed;
    top: 0;
    width: 100%;
    height: 71px;
    z-index: 9998;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100%;
}

li {
    float: right;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 45px;
    margin-top: 4px;
    margin-left: 2px;
    margin-right: 2px;
    font-size: 25px;
    text-decoration: none;
    border: 2px solid darkgrey;
    border-radius: 4px;
}

li a:hover:not(.active) {
    background-color: #333333;
}

home a:hover:not(.active) {
    background-color: #333333;
}

/*.active {
    background-color: darkorange;
    border-radius: 4px;
}*/

.home {
    float: left;
}

.centerText {
    text-align: center;
}

#toprow {
    padding: 10px;
    padding-bottom: 50px;
    white-space: nowrap;
    overflow: hidden;
    margin-right: auto; margin-left: auto;
    margin-bottom: 32px;
    width: 33%;
    background-color: darkorange;
    background-image: linear-gradient(180deg,darkorange,orange);
    border: 4px solid black;
    border-radius: 4px;
}

#recommended {
    width: fit-content;
    margin-right: auto; margin-left: auto;
}

.spacediv {
    margin-top: 100px;
}

.recommendedDiv {
    margin-left: auto; margin-right: auto;
    padding-left: 20px; padding-right: 20px;
    display: inline-block;
    vertical-align: middle;
    position: relative;
}

.recommendedDiv:hover .overlay {
    width: 100%;
}

.overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(1, 9, 13, 0.73);
    overflow: hidden;
    width: 0;
    height: 100%;
    transition: .2s ease;
}

.overlay p, .overlay h3 {
    text-align: center;
    white-space: normal;
    color: white;
}

.editButton {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 47%;
}

#indexprofile {
    margin-left: 90%;
    position: absolute;
    width: 150px;
    cursor: pointer;
    transition: transform .2s;
}

#indexprofile:hover {
    transform: scale(1.1);
}
