#movieColumn {
    margin: auto;
    width: 50%;
    background-color: white;
}

#intro {
    background-color: #333333;
}

#info {
    padding: 20px;
}

#title, #length, #genre {
    text-align: center;
    color: silver;
}

.headingwithp {
    display:inline; vertical-align:middle;
}

#poster {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#plot {
    margin-left: auto; margin-right: auto;
    width: 70%;
    text-align: center;
}

.checked {
    color: orange;
}

#starReview {
    align-content: center;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
}

#commentsection {
    padding: 10px 10% 10px 10%;
}

#comments {
    padding-bottom: 50px;
}

.comment {
    background-color: darkorange;
    background-image: linear-gradient(180deg,darkorange,orange);
    border: 4px solid black;
    padding: 20px;
    border-radius: 20px;
    margin-top: 20px;
    margin-left: auto; margin-right: auto;
    width: 80%;
    box-shadow: 10px 10px rgba(40, 40, 40, 0.57);
}

.commentBtn {
    font-size: 18px;
    padding: 13px 16px;
    margin-top: 6PX;
    background: #000;
    color: #fff;
    border: 1px solid #fff;
    border-radius: 5px;
}

.commentBtn:hover {
    background-color: #333333;
}

.commentProfilepic {
    width: 19%;
    display:inline;
}

.commentContent {
    width: 80%;
    display:inline;
}

#newHeading, #newComment {
    width: 70%;
    margin-top: 5px;
    margin-bottom: 5px;
}
input#newHeading[type='text'] { font-size: 24px; border: none; padding: 5px}
input#newComment[type='text'] { font-size: 14px; border: none; padding: 5px}
