#movieColumn {
    margin: auto;
    width: 50%;
    background-color: white;
}

#intro {
    background-color: #333333;
}

#info {
    padding: 20px;
}

#title, #length, #genre {
    text-align: center;
    color: silver;
}

.headingwithp {
    display:inline; vertical-align:middle;
}

#poster {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#plot {
    margin-left: auto; margin-right: auto;
    width: 70%;
    text-align: center;
}

.checked {
    color: orange;
}

#starReview {
    align-content: center;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
}

#commentsection {
    padding: 10px 10% 10px 10%;
}

.comment {
    border: solid black 2px;
    margin: 1%;
    padding: 5px;
}

.commentProfilepic {
    width: 19%;
    display:inline;
}

.commentContent {
    width: 80%;
    display:inline;
}

#newHeading, #newComment {
    width: 70%;
    margin-top: 5px;
    margin-bottom: 5px;
}
input#newHeading[type='text'] { font-size: 24px; border: none; padding: 5px}
input#newComment[type='text'] { font-size: 14px; border: none; padding: 5px}

#hakukentta {
    position: relative;
    display: list-item;
    float: left;
    right: 35%; /* 16px */
    top: 1%; /* 76px */
    left: 32%;
    border: 3px solid black; /* 5px */
    width: 18%;
    height: 2%;
    padding: 0.5%;
    font-size: larger;
    background-color: darkgrey;
    border-radius: 4px;
}

.navbar {
    background-color: black;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9999;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100%;
}

li {
    float: right;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 45px;
    font-size: 25px;
    text-decoration: none;
    border-radius: 4px;
}

li a:hover:not(.active) {
    background-color: #333333;
}

home a:hover:not(.active) {
    background-color: #333333;
}

.active {
    background-color: darkorange;
    border-radius: 4px;
}

.home {
    float: left;
}